{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">

 <div class="row">
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-danger">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
   <div class='mt-2'>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <span><b class='text-danger'>Username:</b> {{request.user.username}}</span>
                </li>
                <li class="d-grid">
                    <span><b class='text-danger'>User ID:</b> {{request.user.id}}</span>
                </li>
            </ul>
        </div>
  </div>

  <div class="col-sm-8 offset-sm-2">
   <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group col-lg-6 mb-3">
      {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
    </div>
    {% endfor %}
    <div class="col-md-6">
      <button type="submit" class='btn btn-danger w-100 mb-3'>Submit</button>
      <a href="{% url "home" %}" class='btn w-100 btn-primary' >Cancel</a>
    </div>
   </form>
   {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5"  {% endif %} >{{message}}</p>
      
      <p>Now You can Proceed with</p>
      <a  href="{% url "checkout" %}">Checkout</a>
    {% endfor %}
   {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}